.sec-title{
    font-size: 40px;
    font-weight: 500;
}

h2, h3, p{
    margin: 8px 0;
    padding: 8px;
}
.name{
    margin-top: 24px;
    display: inline-block;
}
.name h3{
    font-size: 25px;
    font-weight: 400;
}
.main-text {
    display: flex;
    flex-direction: column;
    
  }
  .main-text p {
  display: inline-block;          /* 텍스트 크기 기준 */
  width: fit-content;             /* 핵심 */
  max-width: 70%;                 /* 너무 길어지지 않게 */
  
  padding: 18px 24px;
  background: #fff;
  border-radius: 16px;

  line-height: 1.6;
}
.from-left {
  align-self: flex-start;
  box-shadow: -6px 8px 10px gray;
}
.from-right {
  align-self: flex-end;
  box-shadow: 6px 8px 10px gray;
}
.main-text {
  align-items: center;
}
main{
  margin-bottom: 5vh;
}
.from-top {
    opacity: 0;
    animation-name: fadeFromTop;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }
  
@keyframes fadeFromTop {
from {
    opacity: 0;
    transform: translateY(-30px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.hide-wrap > * {
    opacity: 0;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }
  
  /* 왼쪽 → 가운데 */
  .from-left {
    animation-name: fadeFromLeft;
  }
  
  /* 오른쪽 → 가운데 */
  .from-right {
    animation-name: fadeFromRight;
  }
  
  @keyframes fadeFromLeft {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
      transform: translateX(0) translateY(-10px);
    }
  }
  
  @keyframes fadeFromRight {
    from {
      opacity: 0;
      transform: translateX(40px);
    }
    to {
      opacity: 1;
      transform: translateX(0) translateY(-10px);
    }
  }
/* 순차등장 */
.hide-wrap > *:nth-child(1) { animation-delay: 0.2s; }
.hide-wrap > *:nth-child(2) { animation-delay: 0.4s; }
.hide-wrap > *:nth-child(3) { animation-delay: 0.6s; }
.hide-wrap > *:nth-child(4) { animation-delay: 0.8s; }
.hide-wrap > *:nth-child(5) { animation-delay: 1s; }
.hide-wrap > *:nth-child(6) { animation-delay: 1.2s; }
.hide-wrap > *:nth-child(7) { animation-delay: 1.4s; }
.hide-wrap > *:nth-child(8) { animation-delay: 1.6s; }
.hide-wrap > *:nth-child(9) { animation-delay: 1.8s; }

