.page-title .select-title{
    background-color: #f8f86e;
}
.page-title ul{
    display: flex;
    gap: 8px;
}
.main-title{
    display: inline-block;
    width: 150px;
    height: 75px;
    text-align: center;
    align-content: center;
    background-color: beige;
    border-radius: 25px 25px 0 0;
}
.main-title:hover{
    background-color: #f8f86e;
}
.page-main{
    background-color: beige;
    height: 100%;
}
.card-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.card-list li{
    margin: 10px 0 0 10px;
    gap: 12px;
}
.card{
    display: inline-block;
    width: 300px;
    height: 260px;
    padding: 10px;
}
.card-img {
    width: 280px;
    aspect-ratio: 16 / 9; /* 카드 이미지 비율 통일 */
    overflow: hidden;
    border-radius: 12px;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;     /* 비율 유지 + 잘라냄 */
    display: block;
}
.card-text{
    margin-top: 12px;
}
.card-title{
    font-size: 24px;
    font-weight: 700;
}
.card-content{
    color: gray;
    margin-top: 10px;
}


@media (max-width:951px) {
    .main-wrap{
        margin: 0 auto;
        max-width: 634px;
    }
}
@media (max-width:651px) {
    .main-wrap{
        margin: 0 auto;
        max-width: 324px;
    }
}