body{
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100vh;
    height: 100%;
    overflow: scroll;
}
/* 헤더부분 */
header{
    background-color: #EEEEEE;
}
.header-nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 10px auto 0 auto;
    max-width: 944px;
    height: 74px;
}
a{
    color: #000;
}
.header-nav-wrap > a{
    background-image: url(./../assets/Logo.png);
    width: 180px;          
    height: 70px;          
    margin-bottom: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
    display: block
} 

.header-menu{
    position: relative;
    margin-right: 10px;
}
.header-nav{
    position: absolute;
    right: -28px;
    top: 50px;
    z-index: 1;
}
.header-nav-wrap h1{
    font-family : "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 40px;
    margin-left: 12px;
}
.header-nav ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 12px;
}

.header-nav ul li a{
    display: block;
    color: #ffffff;
    width: 70px;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    background-color: #979dec;
    transition: 0.3s;
    
}
.header-nav ul li a:hover{
    background-color: #4DB6AC;
    transform: scale(1.2);
}
/* 헤더 끝 */

/* 메인시작 */
main{
    width: 100%;
    height: 100%;
    /* align-content: center; */
}
.main-wrap{
    max-width: 944px;
    margin: 0 auto;
}
.main-title{
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 6px;
    font-weight: 500;
}
.card-border{
    background-color: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 12px;
}
/* 메인끝 */

/* 푸터시작 */
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 10px;
    background-color: #212529;
}
.footer-wrap{
    max-width: 944px;
    height: 50px;
    margin: 0 auto;
    color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.footer-wrap a{
    color: #9193e2;
}

/* 푸터끝 */



/* 숨김처리 클래스 */
.hide{
    display: none;
}

@media (max-width:944px) {
    .header-nav-wrap h1{
        margin-left: 40px;
    }
    .header-menu{
        margin-right: 40px;
    }
}
